{{#if items.length}}
    <div style="height: 100%; width: 50%; float: right; z-index: 1; overflow: hidden; padding-top: 50px; right:0">
    <h2 style="margin: auto; text-align: center">Items</h2>
    {{#each items}}
        <div style="border: 1px solid black; margin: auto; text-align: center; width: 50%">
            <p>{{ title }}</p>
            <p>{{ description }}</p>
        </div>
        <br>
    {{/each}}
    </div>
{{else if items.length}}
    <div style="height: 100%; width: 50%; float: right; z-index: 1; overflow: hidden; padding-top: 50px; right:0">
    <h2 style="margin: auto; text-align: center">Items</h2>
    {{#each items}}
        <div style="border: 1px solid black; margin: auto; text-align: center; width: 50%">
            <p>{{ title }}</p>
            <p>{{ description }}</p>
        </div>
        <br>
    {{/each}}
    </div>
{{else}}
<p>There is no item</p>
{{/if}}
